<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-deck three-col">
          <div class="rounded-rectangle-svs card current-proj " *ngFor="let user of users">
            <h5 class="text-default"><b>{{user.name}}</b></h5>
            <div class="row" style="overflow-x:auto;">
              <div class="col-md-8">
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              </div>
              <div class="col-md-4 text-center">
                <h1 class="text-default"><b>Odonto</b></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->