<div class="modal-header">
	<h4 class="modal-title">Modal title</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="col-md-8 py-5 border">
        <h4 class="pb-4">Please fill with the client details</h4>
        <form [formGroup]="form" (submit)="register()">

            <div class="form-row">
                <div class="form-group col-md-6">
                  <input id="Full Name" name="nombre" formControlName="nombre" placeholder="Full Name" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" formControlName="email"  id="inputEmail4" placeholder="Email">
                </div>
              </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <input id="Mobile No." name="phone" formControlName="phone"  placeholder="Mobile No." class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="photo" formControlName="photo" id="inputGroupFile01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    </div>
                  </div>

                <!-- <div class="form-group col-md-12">
                          <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                </div> -->

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input id="dentistno" name="dentist" formControlName="dentist" placeholder="Dentist No." class="form-control" type="number">
                </div>
                <div class="form-group col-md-6">
                    <input id="addres" name="addres" formControlName="address" placeholder="Addres" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                    <input id="height" name="height" formControlName="height" placeholder="Height" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                    <input id="weight" name="weight" formControlName="weight" placeholder="Weight" class="form-control" type="text">
                </div>
            </div>
            
            <div class="form-row">
                <button type="button" class="btn btn-danger">Submit</button>
                <a routerLink="/client/list" class="py-1 px-2">Volver a lista de clientes</a>
            </div>
            <p>Formulario valido? {{form.valid}}</p>
        </form>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
