<div class="modal-header">
	<h4 class="modal-title">Modificar datos de cliente</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class=" py-5 border px-2">
        <h4 class="pb-4">Please fill with the client details</h4>
        <form [formGroup]="form">

            <div class="form-row">
                <div class="form-group col-md-6">
                  <input id="Full Name" name="nombre" formControlName="nombre" placeholder="Full Name" [(ngModel)]="user.name" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" formControlName="email" [(ngModel)]="user.email" id="inputEmail4" placeholder="Email" [disabled]="true">
                </div>
              </div>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <input id="Mobile No." name="phone" formControlName="phone"  placeholder="Mobile No." [(ngModel)]="user.phoneNumber" class="form-control" type="text">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="photo" formControlName="photo" id="inputGroupFile01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    </div>
                  </div>

                <!-- <div class="form-group col-md-12">
                          <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                </div> -->

            </div>

            <div class="form-row">
                <!-- <div class="form-group col-md-6">
                    <input id="dentistno" name="dentist" formControlName="dentist" placeholder="Dentist No." class="form-control" type="number">
                </div> -->
                <div class="form-group col-md-6">
                    <input id="addres" name="addres" formControlName="address" placeholder="Addres" [(ngModel)]="user.address" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                    <input id="height" name="height" formControlName="height" placeholder="Height" [(ngModel)]="user.height" class="form-control" type="text">
                </div>
                <div class="form-group col-md-6">
                    <input id="weight" name="weight" formControlName="weight" placeholder="Weight" [(ngModel)]="user.weight" class="form-control" type="text">
                </div>
            </div>
            
            <div class="form-row">
                <button type="button" class="btn btn-danger" (click)="passBack()">Submit</button>
            </div>
            <!-- <p>Formulario valido? {{form.valid}}</p> -->
        </form>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
