<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<img src="../../../../assets/img/odon.jpeg"
class=" mx-auto d-block " usemap=#imgmap>
<map name="imgmap">
          
    <!-- area tag -->
    <!--coordinates are defined for "rectangle" and "circle"-->
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('18')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="42, 80, 80, 210"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('17')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="92, 60, 147, 227"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('16')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="157, 58, 210, 228"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('15')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="220, 50, 253, 225"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('14')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="263, 50, 300, 225"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('13')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="310, 42, 350, 215"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('12')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="357, 42, 397, 215"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('11')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="400, 37, 450, 215"/>

    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('21')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="474, 37, 519, 215"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('22')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="522, 37, 567, 215"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('23')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="570, 37, 610, 215"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('24')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="622, 45, 660, 230"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('25')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="667, 45, 700, 230"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('26')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="710, 55, 768, 230"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('27')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="775, 63, 827, 227"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('28')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="840, 83, 875, 205"/>
       
          

    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('48')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="45, 285, 91, 423"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('47')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="98, 285, 147, 435"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('46')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="157, 285, 210, 445"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('45')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="225, 285, 258, 445"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('44')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="265, 285, 305, 445"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('43')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="310, 285, 350, 450"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('42')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="357, 285, 397, 450"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('41')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="410, 285, 446, 450"/>
          
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('31')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="474, 285, 513, 450"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('32')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="522, 285, 563, 450"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('33')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="570, 285, 610, 450"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('34')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="617, 285, 656, 450"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('35')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="661, 285, 700, 450"/>
    <area  shape="rect" href="javascript:; " type="button" (click)="clickarea('36')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="707, 285, 764, 446"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('37')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="772, 285, 825, 446"/>
    <area shape="rect" href="javascript:; " type="button" (click)="clickarea('38')"
          onmouseover="" 
          onmouseout=""
          aria-controls="collapseExample"
          coords="835, 285, 875, 430"/>
    
          
          
</map>                  
    <div class="container text-center text-inline">                          
        <h3 class="titu"> Diente = </h3>
        <div name="dienteshow"  class="titu" ngDefaultControl  [(innerHTML)]="dienteview"> </div>
    </div>  

<!-- <div class="container">
    <div class="row">
        <textarea name="ans" [(ngModel)]="dientework" class="form-control w-50 mx-auto" id="textAreaExample1" rows="4"></textarea>
        <button type="submit" class="btn btn-primary bg-blue">Primary</button>
    </div>
</div> -->
<div class="container">
            <div class="form-horizontal">
                  <div class="form-group">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                              <textarea class="form-control input-sm" rows="4" style="resize: none" [(ngModel)]="dientework" id="serviceNowStr"  placeholder="Trabajo en diente"></textarea>
                        </div>
                        <div class="col-xs-2">
                              <button class="btn uk-button btn-block btn-default " (click)="savetooth()">Guardar Datos</button>
                              <button class="btn uk-button btn-block btn-primary " ng-click="openServiceNowPopup(formData_EventDetails)"> Finalizar </button>
                        </div>
                  </div>
            </div>
</div>

