@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.input-image {
    min-height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
} 


.btn:hover {
    opacity: 1;
}

.titu{
    display:inline
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }
  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
}