<style>
  
</style>
<div class="input-image position-relative">
    <form action="/">
        <div class=" d-flex justifi-content-evenly">
                <div class="w-7" >
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input  " required>
                </div>
                <div  class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input  " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input  " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input" required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div >
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
                <div class="w-7">
                    <input type="text" placeholder="Enter Data" name="first_name" class="first-name-input transparent-input " required>
                </div>
        </div>
    </form>
</div>


