<!-- https://bootsnipp.com/snippets/yN1EV -->
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration</h2>
                        <p>This is the Clinic History Register formulary</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with the client details for Clinic History</h4>
                <form [formGroup]="form" >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="date"  name="date" formControlName="date" placeholder="Date" class="form-control" type="date" required="required">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            Reason:
                                  <textarea  name="reason" formControlName="reason" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            Observations:
                                  <textarea  name="observations" formControlName="observations" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
                    <div>
                        <a (click)="returnClinicList()" class="py-1 px-2" >Return Clinic List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>