<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.scss">
    <title>DentistApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <input type="checkbox" id="check"> -->
    <!--header area start-->
    <!-- <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>DentistApp</h3>
        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
        </div>
    </header> -->
    <!--header area end-->
    <!--sidebar star-->
    <!-- <div class="sidebar">
        <div style="text-align: center;">
            <img src="" class="profile_image" alt="">
            <h6>Nombre</h6>
        </div>
        <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="fas fa-user"></i><span>User</span></a>
        <a href="#"><i class="fas fa-cog"></i><span>Configuration</span></a>
    </div> -->
    <!--sidebar end-->
    <!-- <div class="content">
        
    </div>
</body>
</html> -->