<!-- https://bootsnipp.com/snippets/yN1EV -->
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration</h2>
                        <p>This is the client registration form</p>
                    </div>
                </div>
            </div> 
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with the client details</h4>
                <form [formGroup]="form" (submit)="register()">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input id="Full Name" name="name" formControlName="name" placeholder="Full Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="email" class="form-control" name="email" formControlName="email"  id="inputEmail4" placeholder="Email">
                        </div>
                      </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="phone" formControlName="phone"  placeholder="Mobile No." class="form-control" type="text">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" name="photo" formControlName="photo" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="addres" name="addres" formControlName="address" placeholder="Addres" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="height" name="height" formControlName="height" placeholder="Height" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <input id="weight" name="weight" formControlName="weight" placeholder="Weight" class="form-control" type="text">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <button type="button" class="btn btn-primary" (click)="register()">Submit</button>
                    </div>
                    <div>
                        <a (click)="returnClientList()" class="py-1 px-2" >Return Pacient List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>