<p>clinic-history-info works!</p>

<div class="container mx-10">
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col"></th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
        <tbody>
        <tr >
            <td class="id">
            </td>
            <td class="des">
            </td>
        </tr>
       </tbody>
  </table>
  <div>
    <a  class="py-1 px-2" >Return Clinic History List</a>
</div>
</div>